@charset "UTF-8";
/* CSS Document */

body {
 margin:0px;
 border:0px;
 font: 12px Arial, Helvetica, sans-serif;
 color:#111;
 background-image:url(/images/repeat.gif);
 }
a, a:visited {
 color:#3c6600;
 text-decoration:none;
}
a:hover {
 text-decoration:underline;
}
.case {
 position:relative;
 width:100%;
 padding-top:104px;
 height:auto;
 background:url(/images/repeat2.gif) repeat-x;
 }
.centrecase {
 position:relative;
 width:740px;
 height:auto;
 margin:0 auto 0 auto;
 background-color:#FFF;
 border-left:40px solid #454545;
}
#logo {
 position:absolute;
 background-image:url(/images/logo.gif);
 width:350px;
 height:53px;
 display:block;
 top:-55px;
 left:-40px;
}
#infotab, #blogtab, #projecttab{
 position:absolute;
 width:40px;
 height:81px;
 display:block;
 left:-40px;
 top:0px;
}
#infotab {
 background-image:url(/images/info.gif);
}
#blogtab {
 background-image:url(/images/blog.gif);
 top:-7px;
}
#projecttab {
 background-image:url(/images/projects.gif);
 top:-7px;
}
#infosection {
 position:relative;
 padding:16px 20px 30px 20px;
 width:700px;
 height:auto;
 margin:0px;
}
#infosection h1 {
 font:25px normal Georgia, "Times New Roman", Times, serif;
 color:#333;
 font-weight:100;
 line-height:26px;
 margin:0px;

}
#infosection h2 {
 position:relative;
 font:16px normal Georgia, "Times New Roman", Times, serif;
 color:#444;
 display:block;
 font-style:normal;
 font-weight:100;
 width:700px;
 text-align:justify;
 top:6px;
 margin:0px;
 line-height:19px;
 padding:0px;
}
#onlinebanner {
 position:relative;
 display:inline-block;
 width:717px;
 height:36px;
 margin-top:0px;
 padding:3px 20px 3px 3px;
 background-color:#d0d0d0;
 text-align:right;

}
#blogsection, #projectsection {
 position:relative;
 padding:20px;
 width:700px;
 height:auto;
 border-top:7px solid #2e2e2e;
 display:inline-block;
 top:-3px;
 margin:0px;
}

.date {
 width:65px;
 height:14px;
 padding-top:66px;
 position:relative;
 background:url(/images/dateback.gif) no-repeat;
 display:block;
 clear:left;
 float:left;
 text-align:center;
 font-size:9px;
}
.date strong, .date em {
 color:#FFF;
 position:absolute;
 width:65px;
 text-align:center;
 left:0px;
}
.date strong {
 top:0px;
 font-size:40px;
}
.date em{
 top:43px;
 font-size:12px;
 font-style:normal;
}
.blogcontent{
 position:relative;
 float:left;
 width:610px;
 height:auto;
 padding-bottom:20px;
 border-bottom:1px dotted #555;
 margin:0px 0px 20px 20px;
}
.blogcontent h3 {
 padding:0px;
 margin:0px;
 font-size:24px;
 color:#343434;
 letter-spacing:-1px;
 background-color:#F4F4F4
}
.blogcontent strong {
 position:relative;
 font:16px normal Georgia, "Times New Roman", Times, serif;
 font-weight:500;
 margin:6px 0px 6px 0px;
 display:block;
}
.blogcontent em {
 font-size:11px;
 font-style:normal;
 text-align:justify;
 display:block;
 line-height:18px;
}
#rss {
 position:absolute;
 top:0px;
 right:0px;
 width:25px;
 height:25px;
 display:block;
 background-image:url(/images/rss.gif);
 z-index:100;
}
#github {
 width:78px;
 height:36px;
 float:right;
display:block;
background-image:url(/images/github.gif);
}
#twitter {
 width:155px;
 height:36px;
 float:right;
display:block;
background-image:url(/images/twitter.gif);
}
#linkedin {
 width:118px;
 height:36px;
 float:right;
 display:block;
 background-image:url(/images/linkedin.gif);
}
#google {
 width:151px;
 height:36px;
 float:right;
 display:block;
 background-image:url(/images/google.gif);
}
#projectsection ul {
 width:610px;
 margin:0px 0px 40px 84px;
 float:left;
 position:relative;
 padding:0px;
}
#projectsection li{
 position:relative;
 list-style:none;
 font-size:24px;
 font-weight:bold;
 color:#333;
 letter-spacing:-1px;

}
#projectsection ul li ul{
 margin:6px 0px 4px 0px;
 padding-bottom:4px;
}
#projectsection ul li ul li{
 font-size:11px;
  font-weight:normal;
  font-style:italic;
  border-bottom:1px dotted #777;
  padding-bottom:10px;
  text-align:justify;
   letter-spacing:0px;
}
a#createint {
 position:relative;
 display:block;
 margin:0px auto 10px auto;
 text-align:center;
 width:150px;
 padding:3px;
 background-color:#454545;
  font-size:10px;
  color:#888;
  text-decoration:none;
}
a#footer, a#footer:hover, a#footer:visited {
 position:relative;
 color:#CCC;
 text-decoration:none;
 padding:3px;
 background-color:#454545;
 border-top:3px solid #2e2e2e;
  text-align:right;
 font-size:10px;
 padding:10px 20px 14px 0px;
 width:720px;
 display:block;
}
a.retweet {
  height: 16px;
  font-size:10px;
  display: none;
}
a.retweet span {
  width: 16px;
  height: 16px;
  background-position: 0px 0px;
  background-image: url(/images/retweet.png);
  background-repeat: no-repeat;
  display: block;
  float: left;
}
a.retweet:hover span {
  background-position: -16px 0px;
}
a.reply {
  height: 16px;
  font-size:10px;
  display: block;
}
a.reply span {
  width: 16px;
  height: 16px;
  background-position: 0px 0px;
  background-image: url(/images/reply.png);
  background-repeat: no-repeat;
  display: block;
  float: left;
}
a.reply:hover span {
  background-position: -16px 0px;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

  }

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
    }

    #post pre code {
      border: none;
      }

  #post ul,
  #post ol {
    margin-left: 1.25em;
    }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 95%;
    padding: 0 .2em;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
    }

  #post pre.terminal code {
    background-color: #333;
    }

#related {
  margin-top: 2em;
  }

#related h2 {
  margin-bottom: 1em;
  }

  /* quote */
  #post blockquote {
    border-left: 1px solid #AAA;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    quotes: "\201C" "\201D";
    }

  #post blockquote:before { content: open-quote; font-weight: bold; }
  #post blockquote:after { content: close-quote; font-weight: bold; }
