---
layout: default
title: Lewis Oaten
tags:
  - Lewis
  - Oaten
  - Programming
  - Development
  - Software
  - Engineering
  - Code
  - SVN
  - Git
  - Scrum
  - XP
  - Computing
---

        <!--INFO SECTION -->
        <div id="infosection">
          <h1>{% include bio.md %}</h1>
          <span id="infotab"></span>
        </div>
        <span id="onlinebanner"><a id="google" href="http://google.com/profiles/sphyrz"></a><a id="linkedin" href="http://uk.linkedin.com/in/lewisoaten"></a><a id="twitter" href="http://twitter.com/lewisoaten"></a><a id="github" href="http://github.com/caecus/"></a></span>
        <!--END INFO SECTION -->

        <!--BLOG SECTION -->
        <div id="blogsection">

          {% for post in site.posts %}
          <!--BLOG ENTRY1 -->
          <span class="date"><strong>{{ post.date | date: "%d" }}</strong><em>{{ post.date | date: "%B" }}</em></span>
          <div class="homecontent">
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <strong>{{ post.snippet }}</strong>
          </div>
          <!--/BLOG ENTRY1 -->
          {% endfor %}

          <span id="blogtab"></span>
        </div>
        <!--END BLOG SECTION -->

        <!--PROJECT SECTION -->
        <div id="projectsection">

          <div class="homecontent">
            <h3><a href="http://github.com/caecus/avi2gif">avi2gif</a></h3>
            <strong>A simple tool to convert supported AVI files into GIF animations. Made for personal use in 2005, it grew in popularity on <a href="http://download.cnet.com/AVI2GIF/3000-2169_4-10445427.html?tag=mncol">download.com</a> and is now open source.</strong>
          </div>

          <div class="homecontent">
            <h3><a href="http://github.com/caecus/PRCO303">Collaborative Geospatial Environment</a></h3>
            <strong>University final-year project.</strong>
          </div>

          <div class="homecontent">
            <h3><a href="http://github.com/caecus/twitter-comments">Twitter Comments</a></h3>
            <strong>A simple client-side Javascript library which allows comments for your website which also drive more traffic.</strong>
          </div>

          <div class="homecontent">
            <h3><a href="http://www.muselive.com">Muselive</a></h3>
            <strong>The most popular Muse fansite and largest instance of the LDU CMS.</strong>
          </div>

          <span id="projecttab"></span>
        </div>
        <!--END PROJECT SECTION -->
