---
layout: default
---
        <!--BLOG SECTION -->
        <div id="blogsection">
          <span class="date"><strong>{{ page.date | date: "%d" }}</strong><em>{{ page.date | date: "%B" }}</em><a class="retweet" href="/"><span></span>Retweet</a></span>
          <div class="homecontent">
            <h3>{{ page.title }}</h3>
            {{ content }}
          </div>
          <span id="blogtab"></span>

        <!--RELATED POSTS SECTION -->
          {% for post in site.posts %}
            <span class="date"><strong>{{ post.date | date: "%d" }}</strong><em>{{ post.date | date: "%B" }}</em></span>
            <div class="homecontent">
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            </div>
          {% endfor %}
          <!--END RELATED POSTS SECTION -->
        </div>
        <!--END BLOG SECTION -->        

        <!--COMMENT SECTION -->
        <div id="blogsection">
          <h2>Comments</h2>
          <form action="" method="post">
            <textarea id="message" cols="50" rows="3"></textarea>
            <input type="button" id="tweetBtn" value="Preview Tweet"/> 
          </form> 
          <div class="tweet" id="comment">
            <img src="/images/loading.gif"></img> Calculating comment tag...
          </div>
        </div>
        <!--END COMMENT SECTION -->

<script type='text/javascript'>
  $(document).ready(function(){
    // set up default options
    var defaults = {
      version:    '2.0.1',
      login:      'caecus',
      apiKey:     'R_805cccec98054fee49e9f974d28623bf',
      history:    '0',
      longUrl:    'http://www.lewisoaten.com{{ page.url }}'
    };

  // Build the URL to query
  var daurl = "http://api.bit.ly/shorten?"
    +"version="+defaults.version
    +"&longUrl="+defaults.longUrl
    +"&login="+defaults.login
    +"&apiKey="+defaults.apiKey
    +"&history="+defaults.history
    +"&format=json&callback=?";

    // Utilize the bit.ly API
    $.getJSON(daurl, function(data){
        var urlSearch = "http://twitter.com/#search?q=" + data.results[defaults.longUrl].shortUrl + "&status=";
        var urlHome = "http://twitter.com/home?status=";

        $('a.retweet').attr("href", urlHome + escape("RT @lewisoaten: {{ page.title }}{% for tag in page.tags %} #{{ tag }}{% endfor %} ") + data.results[defaults.longUrl].shortUrl);
        $('a.retweet').show();

        // Setup comment box
        $('#tweetBtn').click( function() {
          
          window.open(urlSearch + $('textarea#message').val() + " " + data.results[defaults.longUrl].shortUrl);
        });

        // Load comments
        $("#comment").html("");
        $("#comment").tweet({
          username: ["lewisoaten"],
          avatar_size: 32,
          count: 20,
          query: data.results[defaults.longUrl].shortUrl,
          loading_text: '<img src="/images/loading.gif"></img> Loading comments...',
          callback: function(){
            // Clear out links to this page
            var searchString = "<a href=\"" + data.results[defaults.longUrl].shortUrl + "\">" + data.results[defaults.longUrl].shortUrl + "</a>";
            var newHTML = $("#comment").html().replace(new RegExp( searchString, "gi" ), '');
            $("#comment").html(newHTML);
            }
        });
    });
  });
</script>
