---
layout: default
---
        <!--BLOG SECTION -->
        <div id="blogsection">
          <span class="date"><strong>{{ page.date | date: "%d" }}</strong><em>{{ page.date | date: "%B" }}</em><a class="retweet" href="/"><span></span>Retweet</a></span>
          <div class="homecontent">
            <h3>{{ page.title }}</h3>
            {{ content }}
          </div>
          <span id="blogtab"></span>
        </div>
        <!--END BLOG SECTION -->

        <!--RELATED POSTS SECTION -->
        <div id="blogsection">
          <h2>Similar Post</h2>
          {% for post in site.related_posts limit:1 %}
            <span class="date"><strong>{{ post.date | date: "%d" }}</strong><em>{{ post.date | date: "%B" }}</em></span>
            <div class="homecontent">
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            </div>
          {% endfor %}
        </div>
        <!--END RELATED POSTS SECTION -->

        <!--COMMENT SECTION -->
        <div id="blogsection">
          <h2>Comments</h2>
          <div id="disqus_thread"></div>
          <script type="text/javascript">
            /**
              * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
              */
            (function() {
             var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
             dsq.src = 'http://lewisoaten.disqus.com/embed.js';
             (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=lewisoaten">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
        <!--END COMMENT SECTION -->

<script type='text/javascript'>
  $(document).ready(function(){
    // set up default options
    var defaults = {
      version:    '2.0.1',
      login:      'caecus',
      apiKey:     'R_805cccec98054fee49e9f974d28623bf',
      history:    '0',
      longUrl:    'http://www.lewisoaten.com{{ page.url }}'
    };

  // Build the URL to query
  var daurl = "http://api.bit.ly/shorten?"
    +"version="+defaults.version
    +"&longUrl="+defaults.longUrl
    +"&login="+defaults.login
    +"&apiKey="+defaults.apiKey
    +"&history="+defaults.history
    +"&format=json&callback=?";

    // Utilize the bit.ly API
    $.getJSON(daurl, function(data){
        var urlSearch = "http://twitter.com/#search?q=" + data.results[defaults.longUrl].shortUrl + "&status=";
        var urlHome = "http://twitter.com/home?status=";

        $('a.retweet').attr("href", urlHome + escape("RT @lewisoaten: {{ page.title }}{% for tag in page.tags %} #{{ tag }}{% endfor %} ") + data.results[defaults.longUrl].shortUrl);
        $('a.retweet').show();
    });
  });
</script>
